# =========================
# DATABASE
# =========================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_URL=

# =========================
# APP CONFIG
# =========================
NEXT_PUBLIC_URL=

# =========================
# SECRETS
# =========================
REVALIDATION_SECRET=
CRON_SECRET=

# =========================
# APIs
# =========================
NEWSAPI_KEY=
GNEWS_KEY=
INDEXNOW_KEY=

# =========================
# ANALYTICS
# =========================
NEXT_PUBLIC_GA_ID=